{% extends 'base.html' %}
{% load women_tags %}

{% block content %}
<h1>{{ title }}</h1>

{% include 'women/includes/nav.html' %}

<ul>
    {% for post in posts %}
    <li>
        <h2>{{ post.title }}</h2>
        <p><b>Категория:</b> {{ post.cat.name }}</p>
        <p>{{ post.content }}</p>
        <p><a href="{{ post.get_absolute_url }}">Читать статью</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% show_categories cat_selected %}

{% show_tags %}

{% endblock %}
